<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <img width="1400" height="200"  alt="Angular Logo" src="assets/AddressBook.jpg"> 
</div> -->

<mat-toolbar color="primary">
  <mat-icon>how_to_reg </mat-icon> 
  <span> User Address Book</span>
  <span class="spacer"></span>
  <!-- Reload data:
  <button mat-icon-button (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button> -->
</mat-toolbar>


<div class="container">
  <router-outlet></router-outlet>
</div>
