
  
  <!-- <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/user-add']"><mat-icon>add</mat-icon> Add</a>
  </div> -->

    <div class="container mat-elevation-z8">

      <div>
        <mat-form-field floatPlaceholder="never" color="accent" class="example-full-width">
          <input matInput #filter placeholder="  Filter address" [(ngModel)] = 'listFilter'>
        </mat-form-field>
      </div>


    <mat-table #table [dataSource]="filteredData" matSort matSortActive="first_name" matSortDisableClear matSortDirection="asc" class="mat-cell" >

      <!-- Product Name Column -->
      <ng-container matColumnDef="first_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.first_name}}</mat-cell>
      </ng-container>

      <!-- Product Description Column -->
      <ng-container matColumnDef="last_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.last_name}}</mat-cell>
      </ng-container>

      <!-- Product Price Column -->
      <ng-container matColumnDef="work_phone">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Work Phone</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.work_phone}}</mat-cell>
      </ng-container>

                  <!-- Product Update at Column -->
      <ng-container matColumnDef="cell_phone">
        <mat-header-cell *matHeaderCellDef >Cell Phone</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.cell_phone}}</mat-cell>
      </ng-container>


      <!-- Product Name Column -->
      <ng-container matColumnDef="email_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Email Id</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.email_id}}  </mat-cell>
      </ng-container>


      <!-- Product Description Column -->
      <ng-container matColumnDef="date_of_birth">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Date Of Birth</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.date_of_birth}}</mat-cell>
      </ng-container>

      <!-- Product Price Column -->
      <ng-container matColumnDef="street">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Street</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.street}}</mat-cell>
      </ng-container>

                  <!-- Product Update at Column -->
      <ng-container matColumnDef="city">
        <mat-header-cell *matHeaderCellDef >City</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.city}}</mat-cell>
      </ng-container>

      <!-- Product Description Column -->
      <ng-container matColumnDef="state">
        <mat-header-cell *matHeaderCellDef>State</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.state}}</mat-cell>
      </ng-container>

                  <!-- Product Update at Column -->
       <ng-container matColumnDef="zip_code">
        <mat-header-cell *matHeaderCellDef >Zip</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.zip_code}}</mat-cell>
      </ng-container>

      <!-- Action --> 
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>
          <a mat-flat-button color="primary" [routerLink]="['/user-add']"><mat-icon>add</mat-icon> Add address</a>
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> 
          <a mat-flat-button color="primary" [routerLink]="['/user-edit/', row.id]"><mat-icon>edit</mat-icon> </a>
          <a mat-flat-button color="warn" (click)="openDeleteDialog()"><mat-icon>delete</mat-icon> </a>
        </mat-cell>

      </ng-container>



      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/user-edit/', row.id, {'read-only':'yes'}]"></mat-row>
    </mat-table>

    <div class="no-results" [style.display]="filteredData.length == 0 ? '' : 'none'">
      No results
    </div>
  
    <mat-paginator #paginator
                   [length]="filteredData.length"
                   [pageIndex]="0"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>

